{% extends './base.html' %}
{% block title %} Mascotas {% endblock %}
{% block body %}
<h1>Mascotas</h1>
<div class="row">
{% for m in mascotas %}

<div class="col-4">
    <div class="card" style="width: 18rem;">
        <img src="{{m.fotografia}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{m.nombre}}</h5>
        <p class="card-text">{{m.descripcion}}</p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">{{m.raza}}</li>
        <li class="list-group-item">{{m.estado}}</li>
      
        </ul>
        <div class="card-body">
        <a href="edicion/{{m.codigo}}" class="btn btn-info">Editar</a>
        <a href="eliminar/{{m.codigo}}" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
</div>

{% endfor %}
</div>
<h2>Nueva Mascota</h2>  
<div class="card">
    <div class="card-body">
        <form action="/nuevaMascota" method="POST"> {% csrf_token %}
            <div class="form-group">
                <input type="text" id="txtCodigo" name="txtCodigo" class="form-control"
                placeholder="Codigo" required>
                <input type="text" id="txtNombre" name="txtNombre" class="form-control"
                placeholder="Nombre" required>
                <input type="text" id="txtImagen"  name="txtImagen" class="form-control"
                placeholder="Link de la imagen" required>
                <input type="text" id="txtDescripcion" name="txtDescripcion" class="form-control"
                placeholder="Descripcion" required>
                <input type="text" id="txtRaza" name="txtRaza" class="form-control"
                placeholder="Especie" required>
                <input type="text" id="txtEstado" name="txtEstado" class="form-control"
                placeholder="Estado (disponible. rescatado, adoptado)">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}